{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Plans list</h1>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary" href="{{ path('plan_new') }}">Create a new Plan</a>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Invoices</th>
                <th>Warehouses</th>
                <th>Users</th>
                <th>Accounting</th>
                <th>Auditing</th>
                <th>Pos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.name }}</td>
                <td>{{ plan.invoices }}</td>
                <td>{{ plan.wareHouses }}</td>
                <td>{{ plan.users }}</td>
                <td>{{ plan.accounting }}</td>
                <td>{{ plan.auditing }}</td>
                <td>{{ plan.pos }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plan_show', { 'id': plan.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
