{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ plan.name }}</td>
            </tr>
            <tr>
                <th>Invoices</th>
                <td>{{ plan.invoices }}</td>
            </tr>
            <tr>
                <th>Warehouses</th>
                <td>{{ plan.wareHouses }}</td>
            </tr>
            <tr>
                <th>Users</th>
                <td>{{ plan.users }}</td>
            </tr>
            <tr>
                <th>Accounting</th>
                <td>{{ plan.accounting }}</td>
            </tr>
            <tr>
                <th>Auditing</th>
                <td>{{ plan.auditing }}</td>
            </tr>
            <tr>
                <th>Pos</th>
                <td>{{ plan.pos }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('plan_edit', { 'id': plan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
