{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application</h1>
<div class="row">
    <div class="col-md-3">ID</div>
    <div class="col-md-9">{{ application.id }}</div>
</div>
<div class="row">
    <div class="col-md-3">key</div>
    <div class="col-md-9">{{ application.appKey }}</div>
</div>
<div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-9">{{ application.name }}</div>
</div>
<div class="row">
    <div class="col-md-3">Domain</div>
    <div class="col-md-9">{{ application.domain }} <a href="https://{{ application.domain }}" target="_blank"><i class="fa fa-external-link"></i></a> </div>
</div>
<div class="row">
    <div class="col-md-3">Path</div>
    <div class="col-md-9">{{ application.path }}</div>
</div>
<div class="row">
    <div class="col-md-3">Version</div>
    <div class="col-md-9"><h4>{{ version }}</h4>
    {% if rootVersion==version %}
    <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#upgrade"> <i class="fa fa-exclamation-triangle fa-1x"></i> Update Avaliable</button>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-3">Client</div>
    <div class="col-md-9">{{ application.client.name }}</div>
</div>
<div class="row">
    <div class="col-md-3">Payments</div>
    <div class="col-md-6">
        <table class="bordered">
            <tbody>
            {% for payment in application.payments %}
            <tr>
                <th>{{ payment.plan.name }}</th>
                <td>{{ payment.months }}  Months</td>
                <td>
                    {% if payment.dueDate>'now'|date  %}<button class="btn btn-sm btn-success">ok</button>{% endif %}
                    {% if payment.dueDate is null  %}{% else %}{{ payment.dueDate|date('Y-m-d') }}{% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr/>
    {{ form_start(delete_form) }}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a  class="btn btn-secondary" href="{{ path('application_index') }}">Back to the list</a>
            <a  class="btn btn-secondary" href="{{ path('payment_new', { 'id': application.id }) }}">Add Payment</a>
            <button class="btn btn-success" type="submit" >Disable</button>
        </div>
    {{ form_end(delete_form) }}


<!-- Modal -->
<div class="modal fade" id="upgrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update to {{ rootVersion }} Dez 2019</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>What's new in PHP 7.4</h2>
        <ul>
            <li>PHP 7.4, the last version before PHP 8, brings lots of new features, syntax additions and fixes. It was be released on November 28, 2019. In this post you'll find a list with everything that's new and changed to help you prepare for the upgrade. Let's start though with a few highlights, included in PHP 7.4:
            <li>Arrow functions for cleaner one-liner functions
            <li>Preloading to improve performance
            <li>Typed properties in classes
            <li>Improved type variance
            <li>The null coalescing assignment operator as a shorthand
            <li>FFI for better extension development in PHP
            <li>Underscores can be used to format numeric values
            <li>Spread operator in arrays
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ignore</button>
        <a href="{{ path('application_upgrade',{id:application.id}) }}" type="button" class="btn btn-primary">Upgrade</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
