{% extends 'base.html.twig' %}

{% block body %}
    <h1>Payment creation</h1>

    {{ form_start(form) }}
    {{ payment.application.name }}
        {{ form_widget(form) }}

    <div class="btn-group" role="group" aria-label="Basic example">
        <a  class="btn btn-secondary" href="{{ path('application_show',{id:payment.application.id}) }}">Back to application</a>
        <button class="btn btn-success" type="submit" >Create</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
